* {
  box-sizing:border-box;
}

body {
  background-image: linear-gradient(to bottom, rgba(51, 95, 135, 1), rgba(96, 171, 232, 1), rgb(242, 239, 173), rgb(245, 200, 64));

  margin:0;
  padding:20px;
  padding-top:80px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 600px;
}

canvas{
  width: 100vw;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  pointer-events: none;
  /* z-index: -1; */
}

/* .speical {
  position: absolute;
  margin-bottom:-500px;
}

.hidden {
  opacity:0;
  transition: opacity .5s;
  z-index: 9999;
}

.special:hover + .hidden {
  opacity: 1;
} */


.top {
display: flex;
justify-content: center;
align-items: center;
filter: url("#flyOn");
animation: wavemover 10s infinite alternate linear;
font-family: 'Rubik Mono One', sans-serif;
}

h1 {
  color: #fff;
  font-size: 3.6em;
  /* max-width: 7ch; */
  opacity: .6;
  /* margin-left: 20%; */
}

@keyframes wavemover {
  100% {
    padding-left: 300px;
    transform: translateX(-100px);
  }
}


.keyboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.number {

}

.key {
  background-color:rgb(252, 255, 104);
  width:60px;
  height:60px;
  border-radius:20%;
  /* position: absolute;
  bottom:2%;
  left:4%; */
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-bottom:10px; */
  font-size: 30px;
}

.key:before {
  background-image: url('p7.jpg');
  background-position: center;
  /* background-size:850px; */
  background-size:50%;
  background-repeat: no-repeat;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width:100vw;
  height:100vh;
  border-radius: 20px;
  /* padding-left:20px;
  padding-right:20px;
  padding-top:40px; */
  transition: opacity 1s ease-in-out;

  position: fixed;
  z-index: 1;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top:0;
  left:0;

  pointer-events: none;
}

.kf2:before {
  background-image: url('p1.jpg');
}

.kf3:before {
  background-image: url('p2.jpg');
}

.kf4:before {
  background-image: url('p4.jpg');
}

.kf5:before {
  background-image: url('p5.jpg');
}

.kf6:before {
  background-image: url('p6.jpg');
}

.kf:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf2:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf3:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf4:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf5:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf6:hover:before {
  opacity: 1;
  visibility: visible;
}

.kb {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.68);
  position:relative;
  background-color:rgb(230, 221, 0);
  width:65px;
  height:67px;
  border-radius:20%;
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:8px;
  margin-right:8px;
  margin-top:-57px;
  z-index:-1
}


/* .text{
  width: 210px;
  height: 100px;
  border:1px solid;
  padding:10px;
  padding-top: 30px;
  position:relative;
}

.text span{
  color:red;
  border:1px solid;
  display:block;
  padding:3px 10px;

  position:absolute;
  top:-3px;
  left:0px;
} */

.text{
  background-color: white;
  width: 230px;
  height: 110px;
  /* border:1px solid; */
  border-radius: 2rem;
  padding:20px;
  padding-top: 40px;
  position:relative;
  border: 1px solid #67c;
}

.text span{
  /* background-color: rgb(246, 247, 166); */
  color:red;
  border:1px solid;
  border-radius: .8rem;
  display:block;
  padding:3px 10px;
  font-size:13px;

  position:absolute;
  top:6px;
  right:15px;
}

.side {
  position: fixed;
  z-index: 9998;
  bottom:-400px;
  right:-750px;
  transform: rotate(20);
  height:700px;
}

.zoom {
  max-width: 100%;
}

.textbox {
  position:absolute;
  top:0;
  left:0;
  font-size: 40px;
  width: 100%;
  overflow: hidden;
  background-color:rgb(255, 251, 0);
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.fabric{
  width:90%;
}

.main {
  max-width:1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:50px;
  padding-top:30px;
}

.container {
  cursor: pointer;
  position: relative;
  width:30%;
  --offset-multiplier: 4px;
  transition: transform 0.6s ease;
  --translate: 0;
  transform: translate(var(--translate), var(--translate));
}

.container:hover {
  --offset-multiplier: 6px;
}
.container:hover {
  --translate: calc(-1px * (var(--cards) - 1));
  transition: transform 0.3s ease;
}

.small {
  position: absolute;
  transition: inherit;
  --translate: calc(var(--offset) * var(--offset-multiplier));
  transform: translate(var(--translate), var(--translate));
  z-index: 5;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

.small:nth-child(1) {
  --offset: 0;
  z-index: 4;
}
.small:nth-child(2) {
  --offset: 1;
  z-index: 3;
}
.small:nth-child(3) {
  --offset: 2;
  z-index: 2;
}
.small:nth-child(4) {
  --offset: 3;
  z-index: 1;
}
.small:nth-child(5) {
  --offset: 4;
  z-index: 0;
}
.small:nth-child(6) {
  --offset:4;
  z-index: 0;
}

@media (max-width: 1000px) { /*breakpoint*/
  .container {
    width: 90%;
  }
  .photo {
    width: 90%;
  }
  .key {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
  .kb {
    width: 40px;
    height: 42px;
    margin-top: -34px;
  }
  .key:before {
    background-size: 90%;
    /* width: 80vw;
    height: 28vh; */
  }
}
