* {
  box-sizing:border-box;
}

body {
  background-image: linear-gradient(to bottom, rgba(51, 95, 135, 1), rgba(96, 171, 232, 1), rgb(242, 239, 173), rgb(245, 200, 64));

  margin:0;
  padding:20px;
  padding-top:100px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 600px;
}

canvas{
  width: 100vw;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  pointer-events: none;
  /* z-index: -1; */
}

/* .speical {
  position: absolute;
  margin-bottom:-500px;
}

.hidden {
  opacity:0;
  transition: opacity .5s;
  z-index: 9999;
}

.special:hover + .hidden {
  opacity: 1;
} */

.keyboard {
  display: flex;
  flex-direction: row
}

.number {

}

.kf {
  background-color:rgb(252, 255, 104);
  width:60px;
  height:60px;
  border-radius:20%;
  /* position: absolute;
  bottom:2%;
  left:4%; */
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* margin-bottom:10px; */
  font-size: 30px;
}

.kf2 {
  background-color:rgb(252, 255, 104);
  width:60px;
  height:60px;
  border-radius:20%;
  /* position: absolute;
  bottom:2%;
  left:4%; */
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* margin-bottom:10px; */
  font-size: 30px;
}

.kf3 {
  background-color:rgb(252, 255, 104);
  width:60px;
  height:60px;
  border-radius:20%;
  /* position: absolute;
  bottom:2%;
  left:4%; */
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* margin-bottom:10px; */
  font-size: 30px;
}

.kf4 {
  background-color:rgb(252, 255, 104);
  width:60px;
  height:60px;
  border-radius:20%;
  /* position: absolute;
  bottom:2%;
  left:4%; */
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* margin-bottom:10px; */
  font-size: 30px;
}

.kf5 {
  background-color:rgb(252, 255, 104);
  width:60px;
  height:60px;
  border-radius:20%;
  /* position: absolute;
  bottom:2%;
  left:4%; */
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* margin-bottom:10px; */
  font-size: 30px;
}

.kf6 {
  background-color:rgb(252, 255, 104);
  width:60px;
  height:60px;
  border-radius:20%;
  /* position: absolute;
  bottom:2%;
  left:4%; */
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* margin-bottom:10px; */
  font-size: 30px;
}


.kf:before {
  background-color: black;
  background-image: url('p1.jpg');
  /* background-size:850px; */
  background-size:900px;
  background-repeat: no-repeat;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  /* width:800px; */
    width:850px;
  /* height:510px; */
  height:560px;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  transition: opacity 1s ease-in-out;

  position:absolute;
  z-index: 1;
  /* left:50px; */
    left:450px;
  /* margin-top:-660px; */
    margin-top:-900px;
}

.kf2:before {
  background-color: black;
  background-image: url('p2.jpg');
  /* background-size:850px; */
  background-size:900px;
  background-repeat: no-repeat;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  /* width:800px; */
    width:850px;
  /* height:510px; */
  height:560px;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  transition: opacity 1s ease-in-out;

  position:absolute;
  z-index: 1;
  /* left:50px; */
    left:450px;
  /* margin-top:-660px; */
    margin-top:-900px;
}

.kf3:before {
  background-color: black;
  background-image: url('p4.jpg');
  /* background-size:850px; */
  background-size:900px;
  background-repeat: no-repeat;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  /* width:800px; */
    width:850px;
  /* height:510px; */
  height:560px;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  transition: opacity 1s ease-in-out;

  position:absolute;
  z-index: 1;
  /* left:50px; */
    left:450px;
  /* margin-top:-660px; */
    margin-top:-900px;
}

.kf4:before {
  background-color: black;
  background-image: url('p5.jpg');
  /* background-size:850px; */
  background-size:900px;
  background-repeat: no-repeat;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  /* width:800px; */
    width:850px;
  /* height:510px; */
  height:560px;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  transition: opacity 1s ease-in-out;

  position:absolute;
  z-index: 1;
  /* left:50px; */
    left:450px;
  /* margin-top:-660px; */
    margin-top:-900px;
}

.kf5:before {
  background-color: black;
  background-image: url('p6.jpg');
  /* background-size:850px; */
  background-size:900px;
  background-repeat: no-repeat;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  /* width:800px; */
    width:850px;
  /* height:510px; */
  height:560px;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  transition: opacity 1s ease-in-out;

  position:absolute;
  z-index: 1;
  /* left:50px; */
    left:450px;
  /* margin-top:-660px; */
    margin-top:-900px;
}

.kf6:before {
  background-color: black;
  background-image: url('p7.jpg');
  /* background-size:850px; */
  background-size:900px;
  background-repeat: no-repeat;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  /* width:800px; */
    width:850px;
  /* height:510px; */
  height:560px;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  transition: opacity 1s ease-in-out;

  position:absolute;
  z-index: 1;
  /* left:50px; */
    left:450px;
  /* margin-top:-660px; */
    margin-top:-900px;
}

.kf:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf2:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf3:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf4:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf5:hover:before {
  opacity: 1;
  visibility: visible;
}

.kf6:hover:before {
  opacity: 1;
  visibility: visible;
}

.kb {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.68);
  position:relative;
  background-color:rgb(230, 221, 0);
  width:65px;
  height:67px;
  border-radius:20%;
  display: inline;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:18px;
  margin-top:-57px;
  z-index:-1
}







.side {
  position: fixed;
  z-index: 9998;
  bottom:-400px;
  right:-750px;
  transform: rotate(20);
  height:700px;
}

.zoom {
  max-width: 100%;
}

.textbox {
  position:absolute;
  top:0;
  left:0;
  font-size: 40px;
  width: 100%;
  overflow: hidden;
  background-color:rgb(255, 251, 0);
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.fabric{
  width:90%;
}

.main {
  max-width:1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:50px;
}

.container {
  cursor: pointer;
  position: relative;
  width:30%;
  --offset-multiplier: 4px;
  transition: transform 0.6s ease;
  --translate: 0;
  transform: translate(var(--translate), var(--translate));
}

.container:hover {
  --offset-multiplier: 6px;
}
.container:hover {
  --translate: calc(-1px * (var(--cards) - 1));
  transition: transform 0.3s ease;
}

.small {
  position: absolute;
  transition: inherit;
  --translate: calc(var(--offset) * var(--offset-multiplier));
  transform: translate(var(--translate), var(--translate));
  z-index: 5;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

.small:nth-child(1) {
  --offset: 0;
  z-index: 4;
}
.small:nth-child(2) {
  --offset: 1;
  z-index: 3;
}
.small:nth-child(3) {
  --offset: 2;
  z-index: 2;
}
.small:nth-child(4) {
  --offset: 3;
  z-index: 1;
}
.small:nth-child(5) {
  --offset: 4;
  z-index: 0;
}
.small:nth-child(6) {
  --offset:4;
  z-index: 0;
}

@media (max-width: 768px) { /*breakpoint*/
  .container {
    width: 90%;
  }
  .photo {
    width: 90%;
  }
}
